.main {
  background-image: url("https://files.oaiusercontent.com/file-x2aScoz6tlHSpaWC7DAuN57z?se=2023-12-04T16%3A52%3A27Z&sp=r&sv=2021-08-06&sr=b&rscc=max-age%3D31536000%2C%20immutable&rscd=attachment%3B%20filename%3Db54a1175-6598-4137-913f-282fb06e6de2.webp&sig=AtWlz48tuoF93S3Ba49a2d7cRxUE7eZeeQG%2BBPyTaJ0%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.display {
  background-color: #222;
  color: #0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.number-pad {
  margin: auto;
}

.smart-lock {
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  right: 100px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.key {
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px 20px;
  color: white;
  background-color: #555;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.key:hover {
  background-color: #6c757d;
}

.key:focus {
  outline: none;
  box-shadow: 0 0 10px #0f0;
}

#spm3 {
  content: "vise menn";
  background-image: url("/Hus.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
