body {
  background-color: black;
}
.display {
  background-color: #222;
  color: #0f0;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 20px;
}

.number-pad {
  margin: auto;
}

.smart-lock {
  text-align: center;
  background-color: #333;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  right: 100px;
}

.row {
  display: flex;
  justify-content: center;
  margin: 5px 0;
}

.key {
  border: none;
  border-radius: 5px;
  margin: 0 5px;
  padding: 10px 20px;
  color: white;
  background-color: #555;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.key:hover {
  background-color: #6c757d;
}

.key:focus {
  outline: none;
  box-shadow: 0 0 10px #0f0;
}

#spm3 {
  margin: 0;
  content: "vise menn";
  background-image: url("/Images/hus.png");

  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#title {
  color: white;
  position: absolute;
  top: 60px;
}
